html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
svg,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b, u, i, center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  color: rgb(28, 28, 28);
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

img, svg {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}

/* Titles */
* {
  scroll-behavior: smooth;
}

h1 {
  font-weight: 900;
  font-size: 1.8rem;
  margin: 1.8rem 0;
}
@media (min-width: 960px) {
  h1 {
    font-size: 2.3rem;
    margin: 2.3rem 0;
  }
}

h2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 1.2rem 0;
}

/* Buttons */
.btn {
  border: none;
  font-weight: 900;
  padding: 1.2rem 1.5rem;
}
.btn.btn-primary {
  background-color: #024474;
  color: #fff;
  transition: all ease 0.4s;
}
.btn.btn-primary:hover {
  background-color: #033558;
  transition: all ease 0.4s;
}
.btn.btn-primary:active {
  background-color: #024474;
}
.btn.btn-primary:disabled {
  background-color: rgb(85, 85, 85);
  cursor: not-allowed;
}

/* Inputs */
input:disabled {
  cursor: not-allowed;
}

/* Views */
.view {
  transform: translateY(50px);
  min-height: calc(100vh - 50px);
  background-image: url(../assets/triangle.png);
  background-size: max(20%, 180px);
  background-position: right bottom;
  background-repeat: no-repeat;
}

.container {
  max-width: 1200px;
  margin: auto;
}
@media (min-width: 480px) {
  .container {
    padding: 0.7rem;
  }
}
@media (min-width: 720px) {
  .container {
    padding: 1.3rem;
  }
}

.center {
  text-align: center;
}

.bg-parrain {
  background-color: #f6b00e;
}

.bg-fileul {
  background-color: #f6651e;
}

/* Components */
#navbar {
  z-index: 500;
  top: 0;
  height: 50px;
  position: fixed;
  background-color: #fff;
  padding: 0.5rem 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.254);
}
#navbar img {
  height: 48px;
}
#navbar .hamburger {
  cursor: pointer;
  width: 2.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
}
@media (min-width: 960px) {
  #navbar .hamburger {
    display: none;
  }
}
#navbar .hamburger span {
  position: relative;
  width: 100%;
  border-radius: 50px;
  background-color: #024474;
  height: 5px;
  transform: rotate(6px);
  transition: all ease 0.4s;
}
#navbar .hamburger span::before, #navbar .hamburger span::after {
  position: absolute;
  content: "";
  border-radius: 50px;
  width: 100%;
  height: 5px;
  background-color: #024474;
  transform: translateY(-12px);
  transition: all ease 0.4s;
}
#navbar .hamburger span::after {
  transform: translateY(12px);
}
#navbar .nav-links {
  position: absolute;
  padding: 0;
  max-height: 0;
  overflow: hidden;
  width: 100%;
  text-align: center;
  background-color: #fff;
  top: 100%;
  transition: all ease 0.4s;
}
@media (min-width: 960px) {
  #navbar .nav-links {
    width: auto;
    position: initial;
    display: flex;
    max-height: initial;
    gap: 50px;
  }
}
#navbar .nav-links li {
  color: #024474;
  padding: 5px 0;
  transition: all ease 0.4s;
}
#navbar .nav-links li:hover {
  color: #f6651e;
  transition: all ease 0.4s;
}
#navbar.active .hamburger span {
  transform: rotate(45deg);
}
#navbar.active .hamburger span::before {
  transform: rotate(-90deg);
}
#navbar.active .hamburger span::after {
  opacity: 0;
}
#navbar.active .nav-links {
  padding: 15px 0;
  max-height: 20rem;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.254);
  transition: all ease 0.4s;
}

.start-part {
  padding: 1.5rem;
}
.start-part form button {
  align-self: center;
}

form {
  display: flex;
  gap: 15px;
  flex-direction: column;
}
form input[type=file] {
  display: none;
}

.label-input {
  overflow-wrap: break-word;
  padding: 50px;
  text-align: center;
  border: none;
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.164);
  font-size: 1.2rem;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: all ease 0.4s;
}
.label-input:hover {
  transition: all ease 0.4s;
}
.label-input.bg-parrain:hover {
  background-color: #dd9e0b;
}
.label-input.bg-fileul:hover {
  background-color: #df5e1e;
}
.label-input.disabled {
  background-color: #fc8347;
  cursor: not-allowed;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2117647059);
  display: grid;
  place-items: center;
}

.loader {
  border: 16px solid #e3e3e3;
  border-top: 16px solid #024474;
  border-radius: 50%;
  width: 140px;
  height: 140px;
  animation: spin 1s linear infinite;
}

/* Screens */
.home {
  width: 100%;
  min-height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.home .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home .content h1 {
  text-align: center;
}
.home .content img {
  width: 100px;
  transform: translateX(8px);
}

.inputs {
  display: flex;
  gap: 2rem;
  width: 100%;
}
.inputs > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.matches-wrapper {
  min-height: 90vh;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
}

.matches {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 40px;
}
.matches > div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.matches > div > * {
  width: 100%;
}
.matches > div img {
  aspect-ratio: 1;
  width: 70%;
  margin: auto;
}
.matches > div span {
  font-size: 1.8rem;
  font-weight: 700;
}

.navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 15px;
}
.navigation > * {
  flex: 1;
}

#download {
  width: 100%;
}

/* Responsive */
@media (min-width: 960px) {
  .matches {
    flex-direction: row;
    align-items: flex-start;
  }
  .matches > * {
    flex: 1;
  }
}
.watch {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
