.start-part{
  padding: $md;

  form{
    display: flex;
    gap: 15px;
    flex-direction: column;

    input[type="file"]{
      display: none;
    }

    button{
      align-self: center;
    }
  }
}

.label-input{
  overflow-wrap: break-word;
  padding: 50px;
  text-align: center;
  border: none;
  background-color: $primary-orange;
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.164);
  // border-radius: 10px;
  font-size: $sm;
  color: $white;
  font-weight: 600;
  cursor: pointer;
  transition: $base-transition;

  &:hover{
    background-color: $secondary-orange;
    transition: $base-transition;
  }

  &.disabled{
    background-color: $orange-accentuation;
    cursor: not-allowed;
  }
}