.start-part{
  padding: $md;
  form{
    button{
      align-self: center;
    }
  }
}

form{
  display: flex;
  gap: 15px;
  flex-direction: column;

  input[type="file"]{
    display: none;
  }
}

.label-input{
  overflow-wrap: break-word;
  padding: 50px;
  text-align: center;
  border: none;
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.164);
  // border-radius: 10px;
  font-size: $sm;
  color: $white;
  font-weight: 600;
  cursor: pointer;
  transition: $base-transition;

  &:hover {
    transition: $base-transition;
  }

  &.bg-parrain:hover{
    background-color: $secondary-yellow;
  }

  &.bg-fileul:hover{
    background-color: $secondary-orange;
  }

  &.disabled{
    background-color: $orange-accentuation;
    cursor: not-allowed;
  }
}