/* Titles */
*{
  scroll-behavior: smooth;
}

h1{
  font-weight: 900;
  font-size: $lg;
  margin: $lg 0;

  @include lg{
    font-size: $xl;
    margin: $xl 0;
  }
}
h2{
  font-weight: 700;
  font-size: $md;
  margin: $sm 0;
}

/* Buttons */
.btn{
  border: none;
  font-weight: 900;
  padding: $sm $md;

  &.btn-primary{
    background-color: $primary-blue;
    color: $white;
    transition: $base-transition;

    &:hover{
      background-color: $secondary-blue;
      transition: $base-transition;
    }

    &:active{
      background-color: $primary-blue;
    }

    &:disabled{
      background-color: $black-700;
      cursor: not-allowed;
    }
  }
}

/* Inputs */
input:disabled{
  cursor: not-allowed;
}

/* Views */
.view{
  transform: translateY(50px);
  min-height: calc(100vh - 50px);
  background-image: url(../assets/triangle.png);
  background-size: max(20%, 180px);
  background-position: right bottom;
  background-repeat: no-repeat;
}

.container{
  max-width: 1200px;
  margin: auto;


  @include sm{
    padding: .7rem;
  }

  @include md{
    padding: 1.3rem;
  }
}