// Colors
$primary-blue: #024474;
$secondary-blue: #033558;
$primary-yellow: #f6b00e;
$secondary-yellow: #dd9e0b;
$primary-orange: #f6651e;
$secondary-orange: #df5e1e;
$orange-accentuation: #fc8347;
$white: #fff;
$black-900: rgb(28, 28, 28);
$black-800: rgb(59, 59, 59);
$black-700: rgb(85, 85, 85);

// Sizes
$sm: 1.2rem;
$md: 1.5rem;
$lg: 1.8rem;
$xl: 2.3rem;

// Transitions
$base-transition: all ease .4s;
$base-transition-2x: all ease .9s;

// Shadows
$base-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.254);